.ba-staff {
    padding-bottom: 115px;

    &-intro {
        padding-top: 120px;

        &__title {
            font-family: $body-font-family;
            color: $black;
            text-align: center;
            padding-bottom: 30px;
        }

        &__subtitle {
            font-size: $global-font-size;
            text-align: center;
            color: #373737;
            padding-bottom: 90px;
        }
    }
}

.ba-person {
    img {
        display: block;
    }

    &-description {
        background: #f2c078;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -80px auto 0;
        position: relative;
        z-index: 10;

        &--first {
            background: url(../img/transp.png) no-repeat 100% 100%;
            background-size: cover;
        }

        &--second {
            background: url(../img/work.png) no-repeat 100% 100%;
            background-size: cover;
        }

        &__name {
            font-size: 31px;
            color: #000;
            padding: 35px 0 25px;
        }

        &__full {
            color: #373737;
            font-size: 20px;
            font-style: italic;
            text-decoration: underline;
            padding-bottom: 40px;

            &:hover {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.ba-slider-work {
    position: relative;
}

.ba-person-grey {
    position: absolute;

    &--left {
        left: -35%;
    }

    &--right {
        right: -35%;
        
    }
}