<header class="ba-container">
    <div class="ba-header-wrap">

        <button class="menu-icon dark  hide-for-large"  type="button" data-open="offCanvas">
            </button>
    <div class="menu show-for-large">
        <ul class="ba-main-menu">
            <li><a href="#intro">About</a></li>
            <li><a href="#eat">Categories</a></li>
            <li><a href="#sales">Sales</a></li>
            <li><a href="#process">Process</a></li>
            <li><a href="#view">Reviews</a></li>
            <li><a href="#partners">Partners</a></li>
        </ul>
    </div>
    <div class="ba-logo">
        <a href="index.html">
            <img src="{{root}}assets/img/logo.png" alt="Family Farm">
        </a>
    </div>
    <!-- /.ba-logo -->
    <div class="ba-search align-middle">
        <form action="#" class="ba-search__form">
            <input class="ba-search__change" type="text" name="search" required> 
            <button type="submit" class="ba-search__press"> 
                <img src="{{root}}assets/img/search.png" alt="search">
            </button>
        </form>
    </div>
    <!-- /.ba-search -->
    </div>
</header>