<section id="partners">
    <div class="row">
        <div class="column large-12">
            <h4 class="ba-say__title">
                Family Farms partners
            </h4>
        </div>
        <!-- /.column large-12 -->
        <div class="column large-2 medium-4 small-6 ba-partner-item">
            <img src="../assets/img/barbecue.png" alt="Barbecue">
        </div>
        <!-- /.column large-2 medium-4 small-6 -->
        <div class="column large-2 medium-4 small-6 ba-partner-item">
            <img src="../assets/img/cofee.png" alt="Cofee">
        </div>
        <!-- /.column large-2 medium-4 small-6 -->
        <div class="column large-2 medium-4 small-6 ba-partner-item">
                <img src="../assets/img/restaurant.png" alt="Restaurant">
            </div>
            <!-- /.column large-2 medium-4 small-6 -->
        <div class="column large-2 medium-4 small-6 ba-partner-item">
            <img src="../assets/img/good_food.png" alt="Good food">
        </div>
        <!-- /.column large-2 medium-4 small-6 -->
        <div class="column large-2 medium-4 small-6 ba-partner-item">
            <img src="../assets/img/new_restaurant.png" alt="New restaurant">
        </div>
        <!-- /.column large-2 medium-4 small-6 -->
        <div class="column large-2 medium-4 small-6 ba-partner-item">
            <img src="../assets/img/last_restaurant.png" alt="Restaurant">
        </div>
        <!-- /.column large-2 medium-4 small-6 -->
    </div>
    <!-- /.row -->

</section>