<section id="process">
    <div class="row  ba-field">
        <div class="ba-field-photo column large-6">
           
        </div>
        <!-- /.ba-field-photo -->
        <div class="ba-field-info large-5">
            <h4 class="ba-field-info__title">
                The Process
            </h4>
            <p>
                Here at Family Farms we know how to grow the best quality food with less usage of chemicals.
            </p>
            <div class="ba-field-list ">
                <div class="ba-field-item">
                    <svg width="67" height="57">
                        <use xlink:href="#icon-grow" />
                    </svg>
                    <span>Hight quality seeds</span>
                </div>
                <!-- /.a-field--item -->
                <div class="ba-field-item">
                    <svg width="67" height="67">
                        <use xlink:href="#icon-sun" />
                    </svg>
                    <span>Hight quality seeds</span>
                </div>
                <!-- /.a-field--item -->
                <div class="ba-field-item">
                    <svg width="67" height="67">
                        <use xlink:href="#icon-plant" />
                    </svg>
                    <span>Hight quality seeds</span>
                </div>
                <!-- /.a-field--item -->
                <div class="ba-field-item">
                    <svg width="67" height="64">
                        <use xlink:href="#icon-farm" />
                    </svg>
                    <span>Hight quality seeds</span>
                </div>
                <!-- /.a-field--item -->
            </div>
            <!-- /.ba-field-list -->
        </div>
        <!-- /.ba-field-info -->
    </div>
    <!-- /.row column ba-field-->
</section>