<article class="ba-offers" id="sales">
    <div class="row">
        <div class="column large-7 ba-offers-info">
            <h2 class="ba-title-block">
                Season honey sales!
            </h2>
            <p>It’s honey season now. Treat youself with delicious honey from our apiaries. Honey contains numerous
                vitamins and valuable for our health things. So don’t wait and order honey from Family Farms.</p>
            <a href="#" class="ba-view ba-view--center">ORDER NOW</a>
        </div>
    </div>
    <!-- /.row -->
</article>
<article class="ba-basket">
    <div class="row">
        <div class="columl large-10 ba-basket-info">
            <h2 class="ba-title-block">
                Special offer:<br>
                Food basket for $34.99
            </h2>
            <p>We will send a huge basket full of fruit and vegetables to your doorstep every week. Our specialists
                will select the best from seasonal fruit and vegetables to you. Sign up this offer available now.</p>
            <a href="#" class="ba-view ba-view--center">SIGN UP</a>
        </div>
        <!-- /.columl large-10 -->
    </div>

</article>

<article class="ba-sales">
    <div class="row">
        <div class="column large-12">
            <h2 class="ba-sales-title">
                    Bestsellers
            </h2>
        </div>
        <!-- /.column -->
        <div class="column large-3 medium-6 small-12 ba-sales-main">
            <img class="ba-sales-photo" src="assets/img/peach.jpg" alt="Peaches">
            <div class="ba-cart">
                <svg width="38" height="30">
                <use xlink:href="#icon-cart"  />
            </svg>
            </div>
            <div class="ba-sales-info">
                <h4 class="ba-sales-info__title">
                        Peaches
                </h4>
                <p class="ba-sales-info__price">$1.29 per pound</p>
            </div>
        </div>
        <!-- /.column large-3 medium-6 small-12 -->
        <div class="column large-3 medium-6 small-12 ba-sales-main">
                <img class="ba-sales-photo" src="assets/img/pepper.jpg" alt="Pepper">
                <div class="ba-cart">
                        <svg width="38" height="30">
                        <use xlink:href="#icon-cart"  />
                    </svg>
                    </div>
                <div class="ba-sales-info">
                    <h4 class="ba-sales-info__title">
                            Bell pepper
                    </h4>
                    <p class="ba-sales-info__price">$2.19 per pound</p>
                </div>
            </div>
            <!-- /.column large-3 medium-6 small-12 -->
            <div class="column large-3 medium-6 small-12 ba-sales-main">
                    <img class="ba-sales-photo" src="assets/img/cucumbers.jpg" alt="Cucumbers">
                    <div class="ba-cart">
                            <svg width="38" height="30">
                            <use xlink:href="#icon-cart"  />
                        </svg>
                        </div>
                    <div class="ba-sales-info">
                        <h4 class="ba-sales-info__title">
                                Cucumbers
                        </h4>
                        <p class="ba-sales-info__price">$0.99 per pound</p>
                    </div>
                </div>
                <!-- /.column large-3 medium-6 small-12 -->
                <div class="column large-3 medium-6 small-12 ba-sales-main">
                        <img class="ba-sales-photo" src="assets/img/blueberries.jpg" alt="Blueberries">
                        <div class="ba-cart">
                                <svg width="38" height="30">
                                <use xlink:href="#icon-cart"  />
                            </svg>
                            </div>
                        <div class="ba-sales-info">
                            <h4 class="ba-sales-info__title">
                                    Blueberries
                            </h4>
                            <p class="ba-sales-info__price">$3.49 per pound</p>
                        </div>
                    </div>
                    <!-- /.column large-3 medium-6 small-12 -->
                    <div class="column">
                        <a href="#" class="ba-open">Shop more</a>
                    </div>
                    <!-- /.column -->
    </div>
    <!-- /.row -->

</article>