<section id="view">
    <div class="row">
        <div class="column large-12">
            <h4 class="ba-say__title ">
                What our clients say
            </h4>
        </div>
        <!-- /.column large-12 -->
        <div class="row ba-row-think">

            <div class="column small-12 medium-4 large-4">
                <div class="ba-think">

                    <blockquote class="ba-think__main">
                        “Family Farms is the best place where I can buy fruit, vegetables, meat, honey, milk, eggs and so on
                        for my restaurant directly from supplier. Super convinient. Thank you”
        
                    </blockquote>
                    <div class="ba-think-person">
                        <img class="ba-think-person__photo" src="../assets/img/client1.jpg" alt="Jeff Handerson">
                        <div class="ba-think-person-name ">
                                <span class="ba-think-person-name__first"> Jeff Handerson,<br></span>
                            <span class="ba-think-person-name__desc">restaurant owner</span>
                        </div>
                        <!-- /.ba-think-person__name -->
                    </div>
                    <!-- /.ba-think-person -->
                </div>
                <!-- /.ba-think -->
            </div>
            <!-- /.column large-4 small-12 -->
            <div class="column small-12 medium-4 large-4 ">
                <div class="ba-think">
                    <blockquote class="ba-think__main">
                            “Delivery is very helpful. I always order friuts from Family Farms to my home. They are great people, I love to use their services”
                    </blockquote>
                    <div class="ba-think-person ">
                        <img class="ba-think-person__photo " src="../assets/img/client2.jpg" alt="Anne Dawson">
                        <div class="ba-think-person-name ">
                                <span class="ba-think-person-name__first"> Anne Dawson,<br> </span>
                            <span class="ba-think-person-name__desc">businessman</span>
                        </div>
                        <!-- /.ba-think-person__name -->
                    </div>
                    <!-- /.ba-think-person -->
                </div>
                </div>
                <!-- /.column large-4 small-12 -->
                <div class="column small-12 medium-4 large-4">
                    <div class="ba-think">

                        <blockquote class="ba-think__main">
                                “I like coocking especially meat. I bought a lot of it from Family Farms. Their meat quality is excellent. Try it by youself, you won’t regret”
    
                        </blockquote>
                        <div class="ba-think-person ">
                            <img class="ba-think-person__photo " src="../assets/img/client3.jpg" alt="Jane Smith">
                            <div class="ba-think-person-name ">
                                    <span class="ba-think-person-name__first">  Jane Smith,<br> </span>
                                <span class="ba-think-person-name__desc"> actress</span>
                            </div>
                            <!-- /.ba-think-person__name -->
                        </div>
                        <!-- /.ba-think-person -->
                    </div>
                    <!-- /.ba-think -->
                    </div>
                    <!-- /.column large-4 small-12 -->
        </div>
        <!-- /.ba-row-think -->
        <div class="column large-12 ba-say__more">
            <a href="#" class="ba-open">Read more</a>
        </div>
        <!-- /.column large-12 -->
    </div>
    <!-- /.row -->
</section>