<section>
    <div class="row column ba-staff">
        <div class="ba-container">
            <div class="large-12 ba-staff-intro">
                <h4 class="ba-staff-intro__title">Meet our wokers</h4>
                <p class="ba-staff-intro__subtitle">Family Farms proud of every each individual whitch works in here.</p>
            </div>
            <div class="ba-slider-work">
                <div class="ba-person-grey ba-person-grey--left">
                    <img src="../assets/img/worker1.jpg" alt="worker 1">
                </div>
                <div class="row">
                    <div class="column large-6 ba-person">
                        <img src="../assets/img/worker2.jpg" alt="David Johnson">
                        <div class="ba-person-description large-9 ba-person-description--first">
                            <span class="ba-person-description__name">David Johnson</span>
                            <a class="ba-person-description__full" href="#">Read the story</a>
                        </div>
                        <!-- /.ba-person-description -->
                    </div>
                    <!-- /.column large-6 -->
                    <div class="column large-6 ba-person">
                        <img src="../assets/img/worker3.jpg" alt="worker 3">
                        <div class="ba-person-description large-9 ba-person-description--second">
                            <span class="ba-person-description__name">Andy Westchester</span>
                            <a class="ba-person-description__full" href="#">Read the story</a>
                        </div>
                        <!-- /.ba-person-description -->
                    </div>
                    <!-- /.column large-6 -->
                    <div class="ba-person-grey ba-person-grey--right">
                            <img src="../assets/img/worker4.jpg" alt="worker 4">
                        </div>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.row column ba-staff -->
</section>